@import "minima";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  line-height: 1.6;
}

.site-title {
  font-weight: 600;
}

.post-link {
  font-size: 1.5rem;
  font-weight: 500;
}

.post-meta {
  color: #666;
}
